<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="examples" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <examples>
    <add key="ExampleClass_1" value="Example1.ExampleClass_1,Example1"/>
    <add key="ExampleClass_2" value="Example2.ExampleClass_2,Example2"/>
  </examples>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>